{{!-- About --}}
<div class="container">
    <div id="about" class="section">
        <div class="row">
            <div class="col m2 hide-on-med-and-down"></div>
            <div class="col m8">
                <h1 class="center">Hi, I'm Rico A. Beti</h1>
                <p class="flow-text center">{{text}}</p>
                <p class="center">{{> social }}</p>
            </div>
            <div class="col m2 hide-on-med-and-down"></div>
        </div>
    </div>
</div>