{{!-- Activities --}}
<div class="{{@root.site.theme.divider}} z-depth-3">
    <div class="container">
        <div id="activities" class="section section-inverse white-text">
            <h2 class="center-align white-text">{{{mdi @root.site.sections.activities.heading}}}</h2>
            <div class="row">
                {{#each list}}
                    <div class="col s12 m4 center-align">
                        <i class="fa {{icon}} large-icon"></i>
                        <h4>{{{mdi title}}}</h4>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>