{{!-- Contact --}}
<div class="container">
    <div id="contact" class="section">
        <div class="row">
            <h2 class="center-align">Get in Touch</h2>
            <div class="col s0 l1"></div>
            <form class="col s12 l10">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="contact-name" type="text" class="validate" required>
                        <label for="contact-name">Your Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="contact-email" type="email" class="validate" required>
                        <label for="contact-email">Your E-Mail Address</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="contact-message" class="materialize-textarea validate" required></textarea>
                        <label for="contact-message">Your Message</label>
                    </div>
                </div>

                <div class="contact-submit">
                    <p class="dark-grey-text right-align">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Your personal details are kept private and secure.
                    </p>
                    <button class="btn waves-effect waves-light blue-grey" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
            <div class="col s0 l1"></div>
        </div>
    </div>
</div>