{{!-- Quote --}}
<div class="{{@root.site.theme.divider}} z-depth-3">
    <div class="container">
        <div id="activities" class="section section-inverse white-text">
            <p class="quote center-align white-text">“{{{mdi text}}}”</p>
        </div>
    </div>
</div>