{{!-- Activities --}}
<div class="{{@root.site.theme.divider}} z-depth-3">
    <div class="container">
        <div id="activities" class="section section-inverse white-text">
            <h2 class="center-align white-text">
                <i>“{{text}}”</i>
            </h2>
        </div>
    </div>
</div>