//
// Portfolio Style
//

nav li {
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    margin-bottom: 4rem;
}

#about {
    margin-top: 6em;
    margin-bottom: 6em;

    h1 {
        width: 100%;
    }

    .valign-wrapper {
        height: 8.4rem;
    }
}

.vspace-small {
    padding-top: 0.5em;
}

.extra-margin {
    margin: 16px;
}

.large-icon {
    font-size: 7rem;
}

.card-action a {
    color: #455A64 !important;
}

.section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.section-inverse {
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-shadow: 0 0 8px #263238;
}

.page-footer .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quote {
    font-size: 3.5rem;
    font-style: italic;
}

.typed-cursor  {
    animation: blink 1.0s infinite;
}

@keyframes blink{
      0% { opacity: 1.0; }
     50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}
